:root {
	--primary-color: rgba(255, 255, 255, 0.2);
	--secondary-color: #fff;
	--tertiary-color: rgba(255, 255, 255, 0.1);
	--hover-color: #5454FB;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	font-family: Helvetica;
}

#market-container {
    text-align: center;
    color: var(--secondary-color);
    font-size: 32px;
}